{% extends 'index.html' %}
{% block content %}
{% if events|length > 1 %}
    <h1 style="text-align: center; margin-top: 5vh; margin-bottom: -5vh;">There Are Multiple Events With The Same Title, <br> Which One Do You Want To Edit?</h1>
{% endif %}
<div style="display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap; text-align: center; margin-top: 10vh;">
    {% if events|length > 1 %}
    {% for i in events %}
    <div style="display: block; margin: auto; text-align: center; margin-top: 10vh;">
        <h1>{{i}}</h1>
        <h1>{{i.description}}</h1>
        <h1>{{i.date}}</h1>
        <h1>{{i.location}}</h1>
        <h1>{{i.id}}</h1>
        <a href="{% url 'event_edit' i.id %}">Edit</a>
        <!-- აქედან შემიძლია ლინკით გავაყოლო  აიდი (მაგ. 127:0.0.1:8000/event-planner/edit/1 - es aris id )
            და მერე event_editდან დაედითდეს კონკრეტული ივენთი აიდის მიხედვით -->
    </div>
    {% endfor %}
    {% else %}
    <form method="POST">
        {% csrf_token %}
        <input class="form-control" type="text" placeholder={{events}} aria-label="default input example" name="title">
        <input class="form-control" type="text" placeholder={{events.description}} aria-label="default input example" name = 'description'>
        <input class="form-control" type="text" placeholder={{events.date}} aria-label="default input example" name="date">
        <input class="form-control" type="text" placeholder={{events.location}} aria-label="default input example" name="location">
        <input type="submit" placeholder="submit">
    </form>
    <div style="display: block; margin: auto; text-align: center; margin-top: 10vh;">
        <h1>{{events}}</h1>
        <h1>{{events.description}}</h1>
        <h1>{{events.date}}</h1>
        <h1>{{events.location}}</h1>
    </div>
    {% endif %}
</div>     
{% endblock %}