{% extends 'index.html' %}
{% block content %}
    {% if note|length > 1 %}
        <h1>There Are Multiple Notes With The Same Title,<br>Which One Do You Want To Edit?</h1>
        {% for i in note %}
        <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 20px; justify-content: center; padding: 20px;">
            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{i}}</h5>
                    <p class="card-text">{{i.description}}</p>
                    <a href="{% url 'note_edit' i.id %}" class="btn btn-primary">Edit</a>
                </div>
                <div class="card-footer text-muted">
                    {{i.date_created}}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h1>{{note}}</h1>
    <form method="POST" style="padding: 20px;">
        {% csrf_token %}
        <input class="form-control" type="text" placeholder="Title" name="title">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
        <input type="submit" name="Submit" id="" class="btn btn-primary" value="Submit">
    </form>
    {% endif %}
{% endblock %}