{% extends 'index.html' %}
{% block content %}
    {% if notes|length == 0 %}
    <h1>No Notes Yet...</h1>
    <a href="{% url 'note_add' %}" class="btn btn-primary">Add Note</a>
    {% else %}
    <div style="display: flex; justify-content: center; padding-top: 20px;">
        <a href="{% url 'note_add' %}" style="text-align: center;" class="btn btn-primary">Add New Note</a>
    </div>
    <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 20px; justify-content: center; padding: 20px;">
        {% for note in notes %}
            <div class="card text-center" style="width: 18rem;">
                <div class="card-header">
                    Note
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{note}}</h5>
                    <p class="card-text">{{note.description}}</p>
                    <a href="{% url 'note_delete' note.id%}" class="btn btn-danger">Delete</a>
                </div>
                <div class="card-footer text-muted">
                    {{note.date_created}}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}